/* assets/css/main.css */

/* Order */
@layer reset, primevue;

/* Reset CSS */
@layer reset {
  * {
    /* CSS to Reset */
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    box-shadow: none;
  }
}
